<!--Single Currency Pair Tile-->

<div class="currency-pair">
  <div>Currency Pair</div>
  <select>
    <option value="EUR/USD">EUR/USD</option>
    <option value="EUR/GBP">EUR/GBP</option>
    <option value="USD/CAD">USD/CAD</option>
    <option value="AUD/CAD">AUD/CAD</option>
    <option value="USD/JPY">USD/JPY</option>
  </select>
  <div>
    <select>
      <option value="">2000,000,000</option>
      <option value="">100,000</option>
    </select>
  </div>
  <!--Single Bid Button-->
  <div>
    <div class="trade-btn green" role="button">
      <p class="trade-type">Bid</p>
      <div class="left-num">10.0</div>
      <div class="right-num">20.0</div>
      <div class="real-price">93</div>
    </div>
    <div class="trade-btn red"role="button">      
      <p class="trade-type">Bid</p>
      <div class="left-num">10.0</div>
      <div class="right-num">20.0</div>
      <div class="real-price">93</div></div>
  </div>
</div>
