

h3 {
    text-align: left;
    font-weight: 900;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.select{
    margin-bottom: 5px;
    border: #000000;
}

.btns{
    display: inline-block;
    width: auto;
}
.trade-btn{
    display: inline-block;
    margin-left: 0;
    height: 100px;
    width: auto;
    padding-top:0;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(0, 121, 0);
    background-color: #000000;
    border-color: rgb(145, 145, 145);
    box-shadow: 0 2px #999;
}
.trade-btn:active{
    background-color: black;
    box-shadow: 0 1px #999;
    text-shadow: rgb(61, 61, 61);
    transform: translateY(1px);
}
.trade-type{
    text-align: center;
    font-size: 15px;
}
.left-num{
    float:left;
    margin-right: 50px;
    font-size: 50%;
}
.right-num{
    float:right;
    font-size: 50%;
}
.real-price{
    font-size: 320%;
    text-align: center;
}

.currency-pair {
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    background-color: rgb(255, 255, 255);
    height: auto;
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
}


#red {
    color: rgb(226, 23, 23);
    margin-left: 5px;
}

#green {
    color: rgb(102, 194, 41);
    
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }