
<div class="container-fluid">
  <div class="row">

      <h2>Currency Buy and Sell</h2>

      <div class="col-sm-3"
      *ngFor="let trade of tradeInfoList">
        <currency-tile></currency-tile>
      </div>

      <div class="col-sm-2">
        <div class="buttons">
          <button type="button" class="btn btn-success"
          (click)="onAddTrade()">Add</button>
        </div>
      </div>

      <div class="col-sm-2">
        <mat-chip-list>
          <mat-chip
          *ngFor="let trade of tradeInfoList"
          [removable]="true"
          (removed)="onDeleteTrade(trade)">
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        </mat-chip-list>


          <button type="button" class="btn btn-danger"
          *ngFor="let trade of tradeInfoList"
          (click)="onDeleteTrade(trade)">Delete</button>

      </div>

        
  </div>
</div>