
<div class="container-fluid">
  <div class="row">

      <h3>Currency Buy and Sell</h3>

      <div id="index-box">
        <currency-tile></currency-tile>
        <currency-tile></currency-tile>
        <currency-tile></currency-tile>

        <div>
          <div
          *ngFor="let trade of tradeInfoList"
          >{{trade.amount}}</div>

          <button class="btn btn-success" type="submit" 
          *ngFor="let trade of tradeInfoList"
          >{{trade.amount}}
          (click)="onAddTrade(trade)">Add</button>

          <button class="btn btn-danger" type="button" (click)="onDeleteTrade()">Delete</button>

        </div>
        
      </div>

  </div>

</div>